/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: url(/images/olympic_runner-wallpaper.jpg) no-repeat center
        center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 450px;
    background-color: rgb(255 255 255 / 84%);
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(255 255 255);
    padding: 30px;
}

#timer {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    color: rgb(70 70 70);
}

.buttons {
    margin: auto;
    width: fit-content;
}

button {
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #fff;
}

#play {
    background-color: green;
    padding: 10px 14px;
    border-radius: 5px;
}
#play:hover {
    box-shadow: 0px 0px 4px 2px rgb(175, 173, 173);
}

#pause {
    padding: 10px 16px;
    background-color: orange;
    border-radius: 5px;
}
#pause:hover {
    box-shadow: 0px 0px 4px 2px rgb(175, 173, 173);
}

#reset {
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}
#reset:hover {
    box-shadow: 0px 0px 4px 2px rgb(175, 173, 173);
}

#lap {
    padding: 10px 12px;
    background-color: maroon;
    border-radius: 5px;
}
#lap:hover {
    box-shadow: 0px 0px 4px 2px rgb(175, 173, 173);
}

#lap-times {
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    margin-top: 13px;
    height: 220px;
    color: rgb(115, 27, 27);
}

#lap-times li {
    transition: 1s;
}
